# Log-relay envvars
GO_ENV=dev #dev, prod
POSTGRESQL_HOST=log_relay-pg
POSTGRESQL_PASS=devpass
POSTGRESQL_USER=log_relay
POSTGRESQL_PORT=5432
FRONTEND_URL=http://127.0.0.1:8082
ADMIN_EMAIL=admin@example.com
JWT_SECRET=myverystrongsecret12349
SMTP_USERNAME=devuser
SMTP_PASSWORD=devpass
AMAZON_HOST=172.17.0.3
SENDER_ADDRESS=robot@example.com
# Gin-Gonic envvars
GIN_MODE=debug # release, test
PORT=8080
