# Log-relay envvars
GO_ENV=dev #dev, prod
POSTGRESQL_HOST=log_relay-pg
POSTGRESQL_PASS=devpass
POSTGRESQL_USER=log_relay
POSTGRESQL_PORT=5432
FRONTEND_URL=http://127.0.0.1:8082
ADMIN_EMAIL=admin@example.com
JWT_SECRET=myverystrongsecret12349
AWS_ACCESS_KEY_ID=devuser
AWS_SECRET_ACCESS_KEY=devpass
AWS_DEFAULT_REGION=us
SENDER_ADDRESS=robot@example.com
PORT=8080
